{% extends 'todos/base.html' %}
{% load bootstrap4 %}

{% block title %}
    Task List
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h1 class="text-white">Task List</h1>
        <a href="{% url 'task_create' %}" class="btn btn-success btn-light mb-3">Добавить задачу</a>
        <ul class="list-group">
            {% for task in tasks %}
                <li class="list-group-item {% if task.completed %}completed{% endif %}">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" {% if task.completed %}checked{% endif %} disabled>
                        <label class="form-check-label">
                            <strong class="{% if task.completed %}text-decoration-line-through{% endif %}">{{ task.title }}</strong>
                        </label>
                    </div>
                    <div class="details mt-2">
                        <p class="text-dark {% if task.completed %}text-decoration-line-through{% endif %}">{{ task.description }}</p>
                        <p class="text-dark {% if task.completed %}text-decoration-line-through{% endif %}">Priority: {{ task.priority }}</p>
                        <p class="text-dark {% if task.completed %}text-decoration-line-through{% endif %}">Deadline: {{ task.deadline }}</p>
                    </div>
                    <div class="action-buttons mt-2">
                        <a href="{% url 'task_edit' task.id %}" class="btn btn-warning btn-sm">Редактировать</a>
                        <a href="{% url 'task_delete' task.id %}" class="btn btn-danger btn-sm">Удалить</a>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}